[submodule "third_party/t"]
    path = third_party/t
    url = "https://github.com/ASIF1998/ProcedurGeneration16bitPeople.git" 
[submodule "PGRE/third_party/t2"]
	path = PGRE/third_party/t2
	url = https://github.com/ASIF1998/web_server_for_conventer.git
